MYSQL_URL=jdbc:mysql://localhost:3306/redis_delayqueue?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
MYSQL_USERNAME=root
MYSQL_PASSWORD=12345678
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DATABASE=0
SERVER_PORT=8080
INSTANCE_ID=node-8080
VITE_API_TARGET=http://localhost:8080
